.calc-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	padding: 6px;
	border-radius: 10px;
	background-color: #585E5C;
	box-shadow: inset rgba(255, 255, 255, 0.3) 8px 8px 18px 5px, inset rgba(0, 0, 0, 0.35) -8px -8px 18px 5px;
}

.calc-top {
	height: 120px;
	width: 100%;
	perspective: 200px;
	display: inline-block;
	&:before {
		box-shadow: inset rgba(255, 255, 255, 0.2) 4px 4px 20px 10px, inset rgba(0, 0, 0, 0.5) -3px -3px 10px 4px;
		transform-origin: 50% 100%;
		border-radius: 8px 8px 0 0;
		height: 100%;
		width: 100%;
		position: absolute;
		content: "";
	}
}

.calc-bottom {
	height: 380px;
	padding: 10px;
	background-color: #A9A29C;
	margin-top: -5px;
	border-radius: 0 0 8px 8px;
}

.calc-display {
	position: relative;
	height: 35px;
	margin-top: 20px;
	padding: 0 10px;
	background-color: #2B1215;
	transform: rotateX(-5deg);
	transform-style: flat;
	box-shadow: 0px -2px 2px 5px rgba(0, 0, 0, 0.45);
	cursor: default;
	input[type="text"] {
		width: 100%;
		background-color: transparent;
		border: none;
		color: #F00;
		font-family: "Calculator", sans-sefif;
		font-size: 28px;
		line-height: 38px;
		letter-spacing: 2px;
		text-align: right;
		text-shadow: 0 0 5px #F00, 0 0 10px #F00;
		visibility: hidden;
	}
	p {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: 0.2;
		color: #F00;
		margin: 0;
		padding: 0 10px;
		font-family: "Calculator", sans-sefif;
		font-size: 28px;
		letter-spacing: 2px;
		line-height: 40px;
		text-align: right;
		text-shadow: 0 0 5px #F00, 0 0 10px #F00;
	}
}

.calc-brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding: 0 16px;
	cursor: default;
}

.brand {
	background-color: #DDD;
	border-radius: 2px;
	padding: 2px 8px;
	border-bottom: 2px solid #898989;
	border-right: 2px solid #898989;
	p {
		font-size: 10px;
		text-transform: uppercase;
		margin: 0;
	}
}

.checkbox {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 35px;
	height: 16px;
	border-radius: 4px;
	background-color: #484850;
	overflow: hidden;
	box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.5), 0px 1px 2px #FFF;
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
	input {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 0;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 2;
		&:checked + label {
			margin-left:21px;
		}
	}
	label {
		margin: 2px;
		display: inline-block;
		width: 12px;
		height: 12px;
		background-color: #DDD;
		background-image: linear-gradient(-40deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.7);
		border-radius: 1px;
		transition: margin-left 0.2s ease-in-out;
	}
}

.row {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	button {
		height: 40px;
		width: 40px;
		margin: 7px 5px;
		border-radius: 6px;
		outline: none;
		border-left: 2px solid #AAA;
		border-top: 2px solid #AAA;
		// border: none;
		color: #FFF;
		background-color: #2D3130;
		&.yellow {
			background-color: #D6A238;
		}
		&.blue {
			background-color: #5864AA;
		}
		&:active {
			border-left: 2px solid #A9A29C;
			border-top: 2px solid #A9A29C;
			border-right: 2px solid #AAA;
			border-bottom: 2px solid #AAA;
			transform: translate(1px, 1px);
		}
	}
}
