doctype html
html(lang="en")
	head
		include templates/head
	body
		.calc-wrapper
			.calc-top
			.calc-bottom
				.calc-display
					//- p.output 0
					input(type="text" value="0")
					p.bg 00000000000000
				.calc-brand
					.on-off-button
						span.checkbox
							input(type="checkbox")
							label()
					.brand
						p Электроника
				.calc-buttons
					.row
						button#ce.yellow(name="c") С
						button.yellow(name="cm") СП
						button.blue(name="m") ИП
						button.operation.blue(name="division" data-value="/") ÷
					.row
						button.number(name="7") 7
						button.number(name="8") 8
						button.number(name="9") 9
						button.operation.blue(name="multiplication" data-value="*") ×
					.row
						button.number(name="4") 4
						button.number(name="5") 5
						button.number(name="6") 6
						button.operation.blue(name="subtraction" data-value="-") −
					.row
						button.number(name="1") 1
						button.number(name="2") 2
						button.number(name="3") 3
						button.operation.blue(name="addition" data-value="+") +
					.row
						button.number(name="0") 0
						button#decimal(name="dot") .
						button.blue(name="m+") П+
						button#result.blue(name="equality" data-value="=") =
		include templates/scripts
