doctype html
html(lang="en")
	head
		include templates/head
	body
		.calc-wrapper
			.calc-top
			.calc-bottom
				.calc-display
					p.outpoot 1234567890
					p.bg 00000000000000
				.calc-brand
					.on-off-button
						button(name="on-off") ВКЛ/ВЫКЛ
					.brand
						label Электроника
				.calc-buttons
					.row
						button(name="c") С
						button(name="cm") СП
						button(name="m") ИП
						button(name="division") ÷
					.row
						button(name="7") 7
						button(name="8") 8
						button(name="9") 9
						button(name="multiplication") ×
					.row
						button(name="4") 4
						button(name="5") 5
						button(name="6") 6
						button(name="subtraction") −
					.row
						button(name="1") 1
						button(name="2") 2
						button(name="3") 3
						button(name="addition") +
					.row
						button(name="0") 0
						button(name="dot") .
						button(name="m+") П+
						button(name="equality") =
		include templates/scripts
