doctype html
html(lang="en")
	head
		include templates/head
	body
		.calc-wrapper
			.calc-top
			.calc-bottom
				.calc-display
					input#output(type="text" value="0" disabled)
					p 00000000000000
				.calc-brand
					.on-off-button
						span.checkbox
							input#onOff(type="checkbox")
							label()
					.brand
						p Электроника
				.calc-buttons
					.row
						button#clear.yellow(name="c") С
						button.yellow(name="cm") СП
						button.blue(name="m") ИП
						button.operation.blue(name="division" value="/") ÷
					.row
						button.number(value="7") 7
						button.number(value="8") 8
						button.number(value="9") 9
						button.operation.blue(name="multiplication" value="*") ×
					.row
						button.number(value="4") 4
						button.number(value="5") 5
						button.number(value="6") 6
						button.operation.blue(name="subtraction" value="-") −
					.row
						button.number(value="1") 1
						button.number(value="2") 2
						button.number(value="3") 3
						button.operation.blue(name="addition" value="+") +
					.row
						button.number(value="0") 0
						button#decimal(name="dot") .
						button.blue(name="m+") П+
						button.operation.blue(name="equality" value="=") =
		include templates/scripts
